<div class="messagePanel" data-dojo-attach-point="_parentPanelCnt" style="display:none;visibility:hidden;">
	<div class="error" data-dojo-attach-point="_errorPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_errorPanelTitle" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr><td><div class="image"></div></td><td><div class="description"></div></td></tr>
			</tbody>
		</table></td>
		</tr>
		<tr>
		<td><table class="detail" cellpadding="0" cellspacing="0" border="1px">
			<tbody data-dojo-attach-point="_errorPanel"></tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div class="warn" data-dojo-attach-point="_warnPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_warnPanelTitle" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr><td><div class="image"></div></td><td><div class="description"></div></td></tr>
			</tbody>
		</table></td>
		</tr>
		<tr>
		<td><table class="detail" cellpadding="0" cellspacing="0" border="1px">
			<tbody data-dojo-attach-point="_warnPanel" ></tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div class="info" data-dojo-attach-point="_infoPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_infoPanelTitle" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr><td><div class="image"></div></td><td><div class="description"></div></td></tr>
			</tbody>
		</table></td>
		</tr>
		<tr>
		<td><table class="detail" cellpadding="0" cellspacing="0" border="1px">
			<tbody data-dojo-attach-point="_infoPanel"></tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div data-dojo-attach-point="containerNode" style="display:none;"></div>
</div>