<div data-dojo-attach-point="multilingual_container_node" class="${styleClass}">
	<table cellpadding="0" cellspacing="0" border="0"><tr>
<td>
	<div style="float: left;width:225px" data-dojo-attach-point="_tcn"></div>
</td><td valign="middle">
	<div style="float: left;" class="i18nControlBtns" data-dojo-attach-point="buttons_container_node">
		<button id="${id}_collapseLanguagesButton_node" data-dojo-type="dijit.form.Button"
			data-dojo-attach-point="collapseLanguagesButton_node" type="button"
			data-dojo-attach-event="onClick:_toggleCollapsed"
			iconClass="colapseLanguages" showLabel="false" ></button>
	</div>
	</td>
	</tr>
	</table>
</div>
