<div data-dojo-attach-point="multilingual_container_node"
	class="${styleClass}">

	<table>
		<tr>
			<td style="border: thin solid">
				<div style="float: left; width: auto" data-dojo-attach-point="_tcn"></div>
			</td>
		</tr>
		<tr>
			<td valign="middle" style="border: thin solid">
				<div style="float: left;" 
					data-dojo-attach-point="buttons_container_node">
					<table>
						<tr>
							<td>
								<button id="${id}_addLanguageButton_node"
									data-dojo-type="dijit.form.Button"
									data-dojo-attach-point="addLanguageButton_node"
									class="no_selection" title="${labelAddPersonTitle}"
									data-dojo-attach-event="onClick:_newPersonBlank"
									type="button" label="${labelAddPerson}" iconClass="addLanguage"${_disabledExp}  ></button>
							</td>
							<td>
								<button id="${id}_removeLanguageButton_node"
									data-dojo-type="dijit.form.Button"
									data-dojo-attach-point="removeLanguageButton_node"
									class="no_selection" title="${labelRemovePersonTitle}"
									data-dojo-attach-event="onClick:_removePerson"
									type="button" label="${labelRemovePerson}" iconClass="removeLanguage"${_disabledExp}   ></button>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
