<div dojoAttachPoint="outerNode" class="thumbOuter">
<table width="100%"><tbody><tr><td>Layouts Disponibles</td></tr><tr><td>
	<div dojoAttachPoint="navPrev" class="thumbNav thumbClickable">
	  <img src="" dojoAttachPoint="navPrevImg"/>    
	</div>
	<div dojoAttachPoint="thumbScroller" class="thumbScroller">
	  <div dojoAttachPoint="thumbsNode" class="thumbWrapper"></div>
	</div>
	<div dojoAttachPoint="navNext" class="thumbNav thumbClickable">
	  <img src="" dojoAttachPoint="navNextImg"/>  
	</div>
	</td>
	</tr>
	<tr><td>Layout Seleccionado</td></tr>
	<tr><td><div dojoAttachPoint="_selectedNode" class="thumbViewer"></div></td></tr>
	</tbody>
	</table>
</div>