<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<div id="${id}_add" data-dojo-attach-point="_addComponent"
				 data-dojo-type="dojox.form.BusyButton" iconClass="imgAdd" tabIndex="${_tabIndex}"
				 baseClass="fisaGridButton" showLabel="false" title="${add_title}"></div>
			</td>
		
			<td>
				<div id="${id}_edit" data-dojo-attach-point="_editComponent"
				 data-dojo-type="dojox.form.BusyButton" iconClass="imgEdit" tabIndex="${_tabIndex}"
				 baseClass="fisaGridButton" showLabel="false" title="${edit_title}"></div>
			</td>
			<td>
				<div id="${id}_delete" data-dojo-attach-point="_deleteComponent"
				 data-dojo-type="dojox.form.BusyButton" iconClass="imgDelete" tabIndex="${_tabIndex}"
				  baseClass="fisaGridButton" showLabel="false" title="${delete_title}"></div>
			</td>
			<td>
				<div id="${id}_apply" data-dojo-attach-point="_applyComponent" 
				data-dojo-type="dojox.form.BusyButton" iconClass="imgApply" tabIndex="${_tabIndex}"
				 baseClass="fisaGridButton" showLabel="false" title="${apply_title}"></div>
			</td>
			<td>
				<div id="${id}_cancel" data-dojo-attach-point="_cancelComponent"
				 data-dojo-type="dojox.form.BusyButton" iconClass="imgCancel" tabIndex="${_tabIndex}"
				  baseClass="fisaGridButton" showLabel="false" title="${cancel_title}"></div>
			</td>
		</tr>
	</tbody>
</table>