<div class="messagePanelPlain" data-dojo-attach-point="_parentPanelCnt" style="display:none;visibility:hidden;">
	<div class="error" data-dojo-attach-point="_errorPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_errorPanel" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td class="tdimage"><div class="image"></div></td>
					<td><div class="description"></div></td>
					<td><table cellpadding="0" cellspacing="0" border="0" class="detail"><tbody data-dojo-attach-point="_errorPanelDetail"></tbody></table></td>
				</tr>
			</tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div class="warn" data-dojo-attach-point="_warnPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_warnPanel" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td class="tdimage"><div class="image"></div></td>
					<td><div class="description"></div></td>
					<td><table cellpadding="0" cellspacing="0" border="0" class="detail"><tbody data-dojo-attach-point="_warnPanelDetail"></tbody></table></td>
				</tr>
			</tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div class="info" data-dojo-attach-point="_infoPanelCnt" style="display:none;visibility:hidden;">
		<table cellpadding="0" cellspacing="0" border="0" class="title">
		<tr>
		<td><table data-dojo-attach-point="_infoPanel" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td class="tdimage"><div class="image"></div></td>
					<td><div class="description"></div></td>
					<td><table cellpadding="0" cellspacing="0" border="0" class="detail"><tbody data-dojo-attach-point="_infoPanelDetail"></tbody></table></td>
				</tr>
			</tbody>
		</table></td>
		</tr>
		</table>
	</div>
	<div data-dojo-attach-point="containerNode" style="display:none;"></div>
</div>