<div>
	<div id="${id}_dialog" dojoType="dojox.mobile.SimpleDialog" data-dojo-attach-point="_dialog">
		<div class="mblSimpleDialogTitle">${title}</div>
		<div class="mblSimpleDialogText">${content}</div>
		<button id="${id}_cancel" data-dojo-type="dojox.mobile.Button" class="mblSimpleDialogButton" data-dojo-attach-point="_cancelBtn">${cancelDialogLabel}</button>
		<button id="${id}_accept" data-dojo-type="dojox.mobile.Button" class="mblSimpleDialogButton" data-dojo-attach-point="_acceptBtn">${acceptDialogLabel}</button>
	</div>
</div>