<div>
	<input id="${id}_textBox" data-dojo-attach-point="_componentNode"
		dojoType="dojox.mobile.TextBox" readOnly="${readOnly}" type="${_type}"
		uppercase="${uppercase}" maxLength="${maxLength}" trim="${trim}"
		style="float: none;" placeHolder="${placeHolder}"
		class="mblTextBox"></input>
	<div style="float: left;" data-dojo-attach-point="_separatorNode">&nbsp;</div>
	<div id="${id}_complement" data-dojo-attach-point="_complementNode"
		dojoType="ec.fisa.desktop.widget.OutputText" style="color: blue; float: left;"></div> 
</div>


